#containerJeremy{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #02AAB0;
  background: linear-gradient(
    to right,
    #02AAB0,#00CDAC
  );
}

#tituloJeremy{
    text-align: center;
}

#presentacionJeremy{
    text-align: center;
    font-size: 20px;
}

#certificadosJeremy{
    text-align: center;
    font-size: 20px;
}

#certificados{
  justify-content: center;
  display: flex;
  gap: 20px;
}

#containerDenis {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #6a11cb;
  background: linear-gradient(
    to right,
    #6a11cb,
    #2575fc
  );
  color: #ffffff;
}

#tituloDenis{
    text-align: center;
}

#presentacionDenis {
    text-align: justify; 
    font-size: 20px;
    line-height: 1.6;
    margin: 0 auto; 
    max-width: 800px; 
}

#aprendientoSpringBoot{
    text-align: center;
    font-size: 20px;
}

#aprendiendo{
  justify-content: center;
  display: flex;
  gap: 20px;
}


#containerWilliam{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: blue;
  background: linear-gradient(
    to right,
    gray,
    #2575fc
  );
  color: #ffffff;
}

#tituloWilliam{
    text-align: center;
}

.presentacion-William {
    text-align: justify; 
    font-size: 20px;
    line-height: 1.6;
    margin: 0 auto; 
    max-width: 800px; 
}

#textFotoMia{
  justify-content: center;
  display: flex;
  gap: 20px;
}

#fotoimg{
  justify-content: center;
  display: flex;
  gap: 20px;
}

#containerTwo{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: green;
  background: linear-gradient(
    to right,
    red,
    green
  );
  color: #ffffff;
}